SMTP_HOST=mail.peatechservice.com
SMTP_PORT=465
SMTP_USERNAME=info@peatechservice.com
SMTP_FROM_EMAIL=mail@peatechservice.com
SMTP_FROM_NAME=PEATECH SERVICES LLC
SMTP_USE_SSL=true
SMTP_USE_STARTTLS=false
